.row
  .columns.small-12.text-center
    %h2
      = @event.group.title
      \-
      = @event.title
    %h3.subtle
      1st April 2015
      &bull;
      Bristol
      &bull;
      55 RSVP's

    %hr

.row
  .columns.small-7
    %p Donec id elit non mi porta gravida at eget metus. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec sed odio dui. Donec ullamcorper nulla non metus auctor fringilla. Donec ullamcorper nulla non metus auctor fringilla. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.
    %p Nulla vitae elit libero, a pharetra augue. Maecenas sed diam eget risus varius blandit sit amet non magna. Maecenas faucibus mollis interdum. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum id ligula porta felis euismod semper.
    %p Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Curabitur blandit tempus porttitor. Nullam quis risus eget urna mollis ornare vel eu leo.

    %hr

    = render partial: "comments/index"

  .columns.small-5
    .row
      .columns.small-6
        = link_to "RSVP No", "#", class: "button button--block button--negative"
      .columns.small-6
        = link_to "RSVP Yes", "#", class: "button button--block button--positive"

    %h4 Attending
    %hr

    - @event.rsvps.attending.each_with_index do |rsvp, i|
      .media
        .media-left
          %a{href: "#"}
            = image_tag "http://api.randomuser.me/portraits/men/#{i}.jpg", class: "media-object avatar", width: 94, height: 94
        .media-body
          %h5.tight
            = rsvp.user.full_name
          %span.label Joined 1st April 2015
          %p.subtle.tight Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
      - unless rsvp == @event.rsvps.attending.last
        %hr

    %h4 Not Attending
    %hr

    - @event.rsvps.not_attending.each_with_index do |rsvp, i|
      .media
        .media-left
          %a{href: "#"}
            = image_tag "http://api.randomuser.me/portraits/men/#{i}.jpg", class: "media-object avatar", width: 94, height: 94
        .media-body
          %h5.tight
            = rsvp.user.full_name
          %span.label Joined 1st April 2015
          %p.subtle.tight Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
      - unless rsvp == @event.rsvps.not_attending.last
        %hr
%hr
