!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "foundation-rails"
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Ubuntu:300,500,700"
    = stylesheet_link_tag "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .row-fluid
      .column.small-12
        %br
        - unless breadcrumbs.empty?
          %ul.breadcrumbs
            = render_breadcrumbs tag: :li, separator: ""

        - if flash[:error]
          = content_tag :div, :id => "flash_name", :class => "alert-box error" do
            = flash[:error]
            %a.close x
        - if flash[:notice]
          = content_tag :div, :id => "flash_name", :class => "alert-box success" do
            = flash[:notice]
            %a.close x

    %br

    %header
      %h1.logo techtalks

    .card
      = yield

      %hr
      .text-center
        %p Techtalks.io is #{ link_to "open source", "https://github.com/adambutler/tech_talks" } &amp; supports free events.

